Repository mineadmin/MineAdmin, pull requests merged in 2024-04, with the labels that each got.

#228 .env.example增加JWT默认值
  .env.example
Labels: enhancement, size:XS, lgtm

#229 Add labels automatically for pr
  .github/boring-cyborg.yml
Labels: enhancement, size:S

#230 fix: created table migrations allow nullable
  app/Setting/Database/Migrations/2021_04_18_224626_create_setting_config_table.php
  app/Setting/Database/Migrations/2021_04_18_225055_create_setting_crontab_table.php
  app/Setting/Database/Migrations/2022_07_24_225626_create_setting_config_group_table.php
  app/System/Database/Migrations/2021_04_18_215320_create_system_menu_table.php
  app/System/Database/Migrations/2021_04_18_224723_create_system_dict_data_table.php
  app/System/Database/Migrations/2021_04_18_224727_create_system_dict_type_table.php
Labels: bug, size:M, Setting, System

#231 feat: `common/commmon.php` add has_permission() and has_role() two fu…
  app/System/Service/SystemUserService.php
  common/common.php
Labels: enhancement, size:M, System

#232 Code style
  app/System/Service/SystemUserService.php
  common/common.php
Labels: enhancement, size:S, System

#237 system_user model backend_setting field add mapping json
  app/System/Model/SystemUser.php
Labels: bug, size:XS, lgtm, System

#239 Add user controller form validation rules
  app/System/Controller/Permission/UserController.php
  app/System/Listener/ValidatorFactoryResolvedListener.php
  app/System/Request/SystemUserRequest.php
Labels: enhancement, size:M, lgtm, System

#242 Update CONTRIBUTING.md
  .github/boring-cyborg.yml
  CONTRIBUTING.md
  SECURITY.md
Labels: size:L
