Repository mineadmin/MineAdmin, pull requests merged in 2024-05, with the labels that each got.

#250 fix: 用户单位筛选异常
  CHANGELOG-2.0.md
  CHANGELOG-2.0.zh_CN.md
  app/System/Mapper/SystemUserMapper.php
Labels: bug, size:M, lgtm, System, ChangeLog

#252 Using mineadmin Appstore
  .github/workflows/test.yml
  bin/hyperf.php
  composer.json
  tests/bootstrap.php
Labels: dependencies, size:S, Composer

#253 move docker-composer to directory,add a .env file
  docker-compose.yml
  docker/.env.example
  docker/.gitignore
  docker/docker-compose.yml
Labels: enhancement, size:L

#259 V2.0-RC
  CHANGELOG-2.0.md
  composer.json
Labels: dependencies, size:S, Composer, ChangeLog

#260 Revert "move docker-composer to directory,add a .env file"
  docker-compose.yml
  docker/.env.example
  docker/.gitignore
  docker/docker-compose.yml
Labels: size:L

#263 Remove redundant configuration
  .env.example
Labels: size:XS

#265 Removing Meaningless Test Processes
  .github/workflows/crontab-cs-fixer.yml
  .github/workflows/pull-request-cs-fixer.yml
  .github/workflows/test.yml
  tests/Feature/ModuleTest/Setting/Tools/CrontabTest.php
Labels: enhancement, size:L

#266 Release v2.0-stable
  composer.json
  tests/Feature/ModuleTest/Setting/Tools/GenerateCodeTest.php
Labels: size:S, Composer
