Repository mineadmin/MineAdmin, pull requests merged in 2024-07, with the labels that each got.

#292 fixed unit tests
  .github/workflows/Dockerfile
  app/Setting/Mapper/SettingConfigMapper.php
  app/System/Mapper/SystemRoleMapper.php
  tests/Expectations.php
Labels: size:S, Setting, System

#294 Fix(filterExecuteAttributes): Utilizing memory address pointers
  app/Setting/Mapper/SettingConfigMapper.php
  app/System/Mapper/SystemRoleMapper.php
  tests/bootstrap.php
Labels: bug, size:XS, lgtm, Setting, System

#295 FIX: 修复多点登录模式下，token缓存复用 和 在线用户监控列表问题
  app/System/Listener/LoginListener.php
  app/System/Service/SystemUserService.php
Labels: bug, size:M, System

#297 FIX : 用户信息password字段隐藏.避免安全隐患.
  app/System/Model/SystemUser.php
  app/System/Service/Dependencies/UserAuthService.php
Labels: bug, size:S, lgtm, System

#298 Fix: is_in_container函数现在能更好的检测是否在容器中
  common/common.php
Labels: bug, size:XS, lgtm

#301 sync
  app/Setting/Mapper/SettingConfigMapper.php
  app/System/Listener/LoginListener.php
  app/System/Mapper/SystemRoleMapper.php
  app/System/Model/SystemUser.php
  app/System/Service/Dependencies/UserAuthService.php
  app/System/Service/SystemUserService.php
  common/common.php
  tests/bootstrap.php
Labels: size:M, Setting, System

#302 Revert "sync"
  app/Setting/Mapper/SettingConfigMapper.php
  app/System/Listener/LoginListener.php
  app/System/Mapper/SystemRoleMapper.php
  app/System/Model/SystemUser.php
  app/System/Service/Dependencies/UserAuthService.php
  app/System/Service/SystemUserService.php
  common/common.php
  tests/bootstrap.php
Labels: size:M, Setting, System

#303 sync
  app/Setting/Mapper/SettingConfigMapper.php
  app/System/Listener/LoginListener.php
  app/System/Mapper/SystemRoleMapper.php
  app/System/Model/SystemUser.php
  app/System/Service/Dependencies/UserAuthService.php
  app/System/Service/SystemUserService.php
  common/common.php
  tests/bootstrap.php
Labels: size:M, Setting, System

#299 feat(setting_config): improve encoding & seeding for config_select_data
  migrations/2024_07_09_180451_update_setting_config_table.php
Labels: enhancement, size:M, Setting, System

#304 Release v2.0.2
  CHANGELOG-2.0.md
  CHANGELOG-2.0.zh_CN.md
  app/System/Mapper/SystemMenuMapper.php
  app/System/Service/SystemMenuService.php
  plugin/mine-admin/app-store/.gitignore
  plugin/mine-admin/app-store/install.lock
Labels: size:L, System, ChangeLog

#306 fix dept level bug
  app/System/Mapper/SystemDeptMapper.php
  app/System/Mapper/SystemMenuMapper.php
  app/System/Service/SystemDeptService.php
Labels: bug, size:M, System

#308 Remove mine-admin/app-store install.lock
  plugin/mine-admin/app-store/.gitignore
  plugin/mine-admin/app-store/install.lock
Labels: size:XS

#309 fix: 修复ClearLogCrontab 清空所有日志时开启事务导致失败 和 watch 脚本php8.2警告
  app/System/Crontab/ClearLogCrontab.php
  watch
Labels: bug, size:XS, lgtm, System

#314 Update(README)
  README-en.md
  README.md
Labels: enhancement, size:S, lgtm

#315 Fix(Seeder)：修复Seeder类名称 并优化菜单数据结构
  databases/seeders/menu_seeder.php
Labels: size:XXL, lgtm
